.addform {
  margin-top: 10px;
  margin: 0 auto; 
  
}

.complatedTask{
    display: block;
  text-decoration: line-through;
    
  
  color: #adadad;
}
.red{
  background-color: rgb(255, 128, 128);

}
.green{
  background-color: rgb(154, 238, 121);

}
.yellow{
  background-color: rgb(240, 241, 133);
}